name: Deploy (AWS)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init/apply
        working-directory: infra
        env:
          TF_VAR_db_password: ${{ secrets.TF_DB_PASSWORD }}
          TF_VAR_jwt_secret: ${{ secrets.TF_JWT_SECRET }}
        run: |
          terraform init
          terraform apply -auto-approve
          terraform output -raw ecr_auth > /tmp/ecr_auth.txt
          terraform output -raw ecr_tasks > /tmp/ecr_tasks.txt
          terraform output -raw alb_dns_name > /tmp/alb_dns.txt

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
            | docker login --username AWS --password-stdin $(cat /tmp/ecr_auth.txt | cut -d/ -f1)

      - name: Build & push auth-service
        run: |
          AUTH_ECR=$(cat /tmp/ecr_auth.txt)
          docker build -t $AUTH_ECR:latest ./auth-service
          docker push $AUTH_ECR:latest

      - name: Build & push tasks-service-go
        run: |
          TASKS_ECR=$(cat /tmp/ecr_tasks.txt)
          docker build -t $TASKS_ECR:latest ./tasks-service-go
          docker push $TASKS_ECR:latest

      - name: Force ECS redeploy
        run: |
          aws ecs update-service --cluster taskboard-cloud-cluster --service taskboard-cloud-auth --force-new-deployment
          aws ecs update-service --cluster taskboard-cloud-cluster --service taskboard-cloud-tasks --force-new-deployment
